extends ../layout/layout
block content
    h1= title

    if (error)
        each e in error
            .alert.alert-danger= e

    form(method="post")
        .form-group
            label(for="email") Email: 
            input.form-control#email(type="text", name="email")
        .form-group
            label(for="password") Password: 
            input.form-control#password(type="password", name="password")
        button.btn.btn-dark Login