extends ../layout/layout
block content
    h1= title

    if (error)
        each e in error
            .alert.alert-danger= e

    form(method="post")
        .form-group
            label(for="name") Name: 
            input.form-control#name(type="text", name="name", value = values ? values.name : '')
        .form-group
            label(for="phone") Phone: 
            input.form-control#phone(type="text", name="phone", value = values ? values.phone : '')
        button.btn.btn-dark Summit