extends ../layout/layout
block content
    h1.float-left
        span= msg
        a.btn.btn-primary.btn-sm(href="/users/create") Create

    form.float-right.mb-2(action="/users/search", method="GET")
        input.form-control(type="text", name="q")

    table.table
        tr
            th Tên
            th Số Điện Thoại
            th Action
        each user in users
            tr
                td= user.name
                td= user.phone
                td 
                    a.btn.btn-light(href='/users/' + user.id) View